In [44]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
from collections import defaultdict

sns.set_style("whitegrid")
sns.set(rc={'figure.figsize':(10,5)})

In [47]:
chains = pd.read_csv('/Users/mario/code/uid-dialogue/re-analysis/results/pbchains_gpt2-ft_all.csv')
dials = pd.read_csv('/Users/mario/code/uid-dialogue/re-analysis/results/pb_gpt2-ft_all.csv')

In [48]:
chains.head()

,dialogue_id,speaker,position_in_chain,round_number,text,chain_id,h,normalised_h,length,tokens_h,tokens,xu_h,mi_chains_id,xu_h_chains_id,normalised_h_chains_id
0,2389,A,1,1,kids playing soccer in green jerseys?,1,26.546213,3.792316,7,"[-12.547093391418457, -1.763575792312622, -2.6...","['kids', 'Ġplaying', 'Ġsoccer', 'Ġin', 'Ġgreen...",0.704599,0.000000,0.795797,3.792316
1,2389,A,2,2,kids playing soccer in green jerseys?,1,26.546213,3.792316,7,"[-12.547093391418457, -1.763575792312622, -2.6...","['kids', 'Ġplaying', 'Ġsoccer', 'Ġin', 'Ġgreen...",0.704599,1.806862,0.416637,1.985454
2,2389,B,3,4,4 young boys in green jersey shirts playing so...,1,51.377193,5.137719,10,"[-8.356040954589844, -13.088624954223633, -1.7...","['4', 'Ġyoung', 'Ġboys', 'Ġin', 'Ġgreen', 'Ġje...",1.071240,0.224114,1.146712,4.913605
3,1969,B,1,1,I have kids playing soccer in green uniforms,2,21.162553,2.645319,8,"[-2.672774076461792, -0.6501073837280273, -10....","['I', 'Ġhave', 'Ġkids', 'Ġplaying', 'Ġsoccer',...",0.500980,0.000000,0.569306,2.645319
4,1969,A,2,3,s playing soccer,2,35.640477,11.880159,3,"[-8.807174682617188, -17.692106246948242, -9.1...","['s', 'Ġplaying', 'Ġsoccer']",1.543971,0.661086,1.606421,11.219073

In [49]:
chains.keys()

Index(['dialogue_id', 'speaker', 'position_in_chain', 'round_number', 'text',
       'chain_id', 'h', 'normalised_h', 'length', 'tokens_h', 'tokens', 'xu_h',
       'mi_chains_id', 'xu_h_chains_id', 'normalised_h_chains_id'],
      dtype='object')

In [50]:
dials.keys()

Index(['dialogue_id', 'speaker', 'position_in_dialogue', 'position_in_round',
       'round_number', 'text', 'h', 'normalised_h', 'length', 'tokens_h',
       'tokens', 'xu_h', 'mi_dialogue_id', 'xu_h_dialogue_id',
       'normalised_h_dialogue_id', 'mi_round_number', 'xu_h_round_number',
       'normalised_h_round_number'],
      dtype='object')

In [51]:
chains.iloc[0, :].values

array([2389, 'A', 1, 1, 'kids playing soccer in green jerseys?', 1,
       26.54621341824532, 3.792316202606474, 7,
       '[-12.547093391418457, -1.763575792312622, -2.6370131969451904, -2.9940226078033447, -0.4667718708515167, -3.709010124206543, -2.4287264347076416]',
       "['kids', 'Ġplaying', 'Ġsoccer', 'Ġin', 'Ġgreen', 'Ġjerseys', '?']",
       0.7045993981202658, 0.0, 0.7957971834169624, 3.792316202606474],
      dtype=object)

In [52]:
chains

,dialogue_id,speaker,position_in_chain,round_number,text,chain_id,h,normalised_h,length,tokens_h,tokens,xu_h,mi_chains_id,xu_h_chains_id,normalised_h_chains_id
0,2389,A,1,1,kids playing soccer in green jerseys?,1,26.546213,3.792316,7,"[-12.547093391418457, -1.763575792312622, -2.6...","['kids', 'Ġplaying', 'Ġsoccer', 'Ġin', 'Ġgreen...",0.704599,0.000000,0.795797,3.792316
1,2389,A,2,2,kids playing soccer in green jerseys?,1,26.546213,3.792316,7,"[-12.547093391418457, -1.763575792312622, -2.6...","['kids', 'Ġplaying', 'Ġsoccer', 'Ġin', 'Ġgreen...",0.704599,1.806862,0.416637,1.985454
2,2389,B,3,4,4 young boys in green jersey shirts playing so...,1,51.377193,5.137719,10,"[-8.356040954589844, -13.088624954223633, -1.7...","['4', 'Ġyoung', 'Ġboys', 'Ġin', 'Ġgreen', 'Ġje...",1.071240,0.224114,1.146712,4.913605
3,1969,B,1,1,I have kids playing soccer in green uniforms,2,21.162553,2.645319,8,"[-2.672774076461792, -0.6501073837280273, -10....","['I', 'Ġhave', 'Ġkids', 'Ġplaying', 'Ġsoccer',...",0.500980,0.000000,0.569306,2.645319
4,1969,A,2,3,s playing soccer,2,35.640477,11.880159,3,"[-8.807174682617188, -17.692106246948242, -9.1...","['s', 'Ġplaying', 'Ġsoccer']",1.543971,0.661086,1.606421,11.219073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15342,2408,A,1,1,I have a boy in red laying down holding a winn...,18054,54.494791,3.405924,16,"[-2.672774076461792, -0.6501073837280273, -0.9...","['I', 'Ġhave', 'Ġa', 'Ġboy', 'Ġin', 'Ġred', 'Ġ...",0.804264,0.000000,0.864947,3.405924
15343,2408,A,2,2,I have a boy reading winnie the poo,18054,43.152194,4.315219,10,"[-2.672774076461792, -0.6501073837280273, -0.9...","['I', 'Ġhave', 'Ġa', 'Ġboy', 'Ġreading', 'Ġwin...",0.899744,1.531285,0.649700,2.783935
15344,2408,B,3,4,A boy reading winnie the pooh?,18054,26.679221,2.964358,9,"[-4.9017653465271, -5.930842399597168, -8.3123...","['A', 'Ġboy', 'Ġreading', 'Ġwin', 'nie', 'Ġthe...",0.594346,0.193344,0.623766,2.771014
15345,2408,B,1,2,I have 2 girls and a boy on a bed playing a vi...,18059,39.426369,2.816169,14,"[-2.672774076461792, -0.6501073837280273, -6.7...","['I', 'Ġhave', 'Ġ2', 'Ġgirls', 'Ġand', 'Ġa', '...",0.647653,0.000000,0.701579,2.816169
15346,2408,A,2,4,the boy and 2 girls on the bed,18059,38.925607,4.865701,8,"[-6.189882755279541, -5.621294975280762, -5.49...","['the', 'Ġboy', 'Ġand', 'Ġ2', 'Ġgirls', 'Ġon',...",0.921484,0.860410,0.861989,4.005291

In [53]:
hs = []
hsc = []
not_found = 0
len_0 = 0
found_multiple = defaultdict(list)

new_df = []

for i in range(len(chains)):
    dial_id = chains.iloc[i, 0]
    speaker = chains.iloc[i, 1]
    round_number = chains.iloc[i, 3]
    tokens = chains.iloc[i, 10]
    h_ = chains.iloc[i, -1]

    # print(dial_id, speaker, round_number, tokens)

    utterance_in_dialogue = dials[
        (dials['dialogue_id'] == dial_id)
        & (dials['speaker'] == speaker)
        & (dials['round_number'] == round_number)
        & (dials['tokens'] == tokens)
    ]

    # print(utterance_in_dialogue)

    if len(utterance_in_dialogue) == 0:
        # print(dial_id, speaker, round_number, tokens)
        # print(utterance_in_dialogue)
        # print()
        # len_0 += 1
        continue
        
#     assert len(utterance_in_dialogue) == 1, f'Found {len(utterance_in_dialogue)} utterances'
    
    if len(utterance_in_dialogue) > 1:
        continue
        # print(dial_id, round_number, speaker, tokens, h_)
        # print()
        # print(utterance_in_dialogue)

#         for j, row in utterance_in_dialogue.iterrows():
#
#             position_in_round = row['position_in_round']
# #             print(position_in_round)
#             if position_in_round in found_multiple[(dial_id, speaker, round_number, tokens)]:
# #                 print('Already processed')
#                 continue
#             else:
#                 found_multiple[(dial_id, speaker, round_number, tokens)].append(position_in_round)
# #                 print(f'This is position {position_in_round}')
#                 utterance_in_dialogue = pd.DataFrame(row)
#                 hs = row['normalised_h']
#                 hsc = row['normalised_h_dialogue_id']
    else:
                
#         print(dial_id, round_number, speaker, tokens)
#         print()
#         print(utterance_in_dialogue)
#         break
        
        hs = float(list(utterance_in_dialogue['normalised_h'])[0])
        hsc = float(list(utterance_in_dialogue['normalised_h_dialogue_id'])[0])
    
    new_row = list(chains.iloc[i, :].values) + [hs, hsc]
    new_df.append(tuple(new_row))
    
print(len(chains), len(new_df))

15347 14431

In [54]:
len(found_multiple)

0

In [55]:
chains_dial = pd.DataFrame(new_df, columns=list(chains.keys()) + ['hs_dial', 'hsc_dial'])

In [36]:
float(chains_dial.iloc[0, -1].values)

AttributeError: 'numpy.float64' object has no attribute 'values'

In [56]:
chains_dial.head()

,dialogue_id,speaker,position_in_chain,round_number,text,chain_id,h,normalised_h,length,tokens_h,tokens,xu_h,mi_chains_id,xu_h_chains_id,normalised_h_chains_id,hs_dial,hsc_dial
0,2389,A,1,1,kids playing soccer in green jerseys?,1,26.546213,3.792316,7,"[-12.547093391418457, -1.763575792312622, -2.6...","['kids', 'Ġplaying', 'Ġsoccer', 'Ġin', 'Ġgreen...",0.704599,0.000000,0.795797,3.792316,3.792316,3.216236
1,2389,A,2,2,kids playing soccer in green jerseys?,1,26.546213,3.792316,7,"[-12.547093391418457, -1.763575792312622, -2.6...","['kids', 'Ġplaying', 'Ġsoccer', 'Ġin', 'Ġgreen...",0.704599,1.806862,0.416637,1.985454,3.792316,2.197684
2,2389,B,3,4,4 young boys in green jersey shirts playing so...,1,51.377193,5.137719,10,"[-8.356040954589844, -13.088624954223633, -1.7...","['4', 'Ġyoung', 'Ġboys', 'Ġin', 'Ġgreen', 'Ġje...",1.071240,0.224114,1.146712,4.913605,5.137719,4.661895
3,1969,B,1,1,I have kids playing soccer in green uniforms,2,21.162553,2.645319,8,"[-2.672774076461792, -0.6501073837280273, -10....","['I', 'Ġhave', 'Ġkids', 'Ġplaying', 'Ġsoccer',...",0.500980,0.000000,0.569306,2.645319,2.645319,2.645312
4,1969,A,2,3,s playing soccer,2,35.640477,11.880159,3,"[-8.807174682617188, -17.692106246948242, -9.1...","['s', 'Ġplaying', 'Ġsoccer']",1.543971,0.661086,1.606421,11.219073,11.880158,12.539171

In [57]:
surprisal_by_len = defaultdict(list)
for i in range(len(chains_dial)):
    surprisal_by_len[
        chains_dial.iloc[i, :]['length']
    ].append(
        chains_dial.iloc[i, :]['hs_dial']
    )

    surprisal_by_len[
        chains_dial.iloc[i, :]['length']
    ].append(
        chains_dial.iloc[i, :]['hsc_dial']
    )
    
mean_surprisal_by_len = {}
for l in surprisal_by_len:
    mean_surprisal_by_len[l] = np.mean(surprisal_by_len[l])

xu_hs_dial = []
xu_hsc_dial = []
for index, row in chains_dial.iterrows():
    try:
        xu_hs_dial.append(row['hs_dial'] / mean_surprisal_by_len[row['length']])
    except KeyError:
        xu_hs_dial.append(np.nan)
    try:
        xu_hsc_dial.append(row['hsc_dial'] / mean_surprisal_by_len[row['length']])
    except KeyError:
        xu_hsc_dial.append(np.nan)
        
chains_dial.loc[:, 'xu_hs_dial'] = xu_hs_dial
chains_dial.loc[:, 'xu_hsc_dial'] = xu_hsc_dial

df_new = chains_dial.copy()


mi_dial = []
xu_mi_dial = []
nans = 0
for index, row in chains_dial.iterrows():
    try:
        mi_dial.append(row['hs_dial'] - row['hsc_dial'])
    except KeyError:
        mi_dial.append(np.nan)
    try:
        xu_mi_dial.append(row['xu_hs_dial'] - row['xu_hsc_dial'])
    except KeyError:
        xu_mi_dial.append(np.nan)

df_new.loc[:, 'mi_dial'] = mi_dial
df_new.loc[:, 'hs_dial'] = chains_dial['hs_dial'].values
df_new.loc[:, 'hsc_dial'] = chains_dial['hsc_dial'].values
df_new.loc[:, 'xu_hs_dial'] = chains_dial['xu_hs_dial'].values
df_new.loc[:, 'xu_hsc_dial'] = chains_dial['xu_hsc_dial'].values
df_new.loc[:, 'mi_dial'] = mi_dial
df_new.loc[:, 'xu_mi_dial'] = xu_mi_dial

In [58]:
df_new.head()

,dialogue_id,speaker,position_in_chain,round_number,text,chain_id,h,normalised_h,length,tokens_h,...,xu_h,mi_chains_id,xu_h_chains_id,normalised_h_chains_id,hs_dial,hsc_dial,xu_hs_dial,xu_hsc_dial,mi_dial,xu_mi_dial
0,2389,A,1,1,kids playing soccer in green jerseys?,1,26.546213,3.792316,7,"[-12.547093391418457, -1.763575792312622, -2.6...",...,0.704599,0.000000,0.795797,3.792316,3.792316,3.216236,0.761590,0.645899,0.576080,0.115691
1,2389,A,2,2,kids playing soccer in green jerseys?,1,26.546213,3.792316,7,"[-12.547093391418457, -1.763575792312622, -2.6...",...,0.704599,1.806862,0.416637,1.985454,3.792316,2.197684,0.761590,0.441349,1.594632,0.320241
2,2389,B,3,4,4 young boys in green jersey shirts playing so...,1,51.377193,5.137719,10,"[-8.356040954589844, -13.088624954223633, -1.7...",...,1.071240,0.224114,1.146712,4.913605,5.137719,4.661895,1.149086,1.042665,0.475824,0.106421
3,1969,B,1,1,I have kids playing soccer in green uniforms,2,21.162553,2.645319,8,"[-2.672774076461792, -0.6501073837280273, -10....",...,0.500980,0.000000,0.569306,2.645319,2.645319,2.645312,0.541843,0.541841,0.000007,0.000001
4,1969,A,2,3,s playing soccer,2,35.640477,11.880159,3,"[-8.807174682617188, -17.692106246948242, -9.1...",...,1.543971,0.661086,1.606421,11.219073,11.880158,12.539171,1.684570,1.778016,-0.659013,-0.093446

In [59]:
df_new.to_csv('/Users/mario/code/uid-dialogue/re-analysis/results/pbchains_gpt2-ft_both_contexts.csv')